components/analytics-dashboard/org.wso2.carbon.analytics.dashboard.stub/src/main/resources/DashboardAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://admin.dashboard.analytics.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://admin.dashboard.analytics.carbon.wso2.org">
    <wsdl:documentation>DashboardAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.dashboard.analytics.carbon.wso2.org">
            <xs:element name="testService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inbox" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="testServiceRequest">
        <wsdl:part name="parameters" element="ns:testService"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="testServiceResponse">
        <wsdl:part name="parameters" element="ns:testServiceResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DashboardAdminServicePortType">
        <wsdl:operation name="testService">
            <wsdl:input message="ns:testServiceRequest" wsaw:Action="urn:testService"></wsdl:input>
            <wsdl:output message="ns:testServiceResponse" wsaw:Action="urn:testServiceResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DashboardAdminServiceSoap11Binding" type="ns:DashboardAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="testService">
            <soap:operation soapAction="urn:testService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DashboardAdminServiceSoap12Binding" type="ns:DashboardAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="testService">
            <soap12:operation soapAction="urn:testService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DashboardAdminServiceHttpBinding" type="ns:DashboardAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="testService">
            <http:operation location="testService"></http:operation>
            <wsdl:input>
                <mime:widgets type="text/xml" part="parameters"></mime:widgets>
            </wsdl:input>
            <wsdl:output>
                <mime:widgets type="text/xml" part="parameters"></mime:widgets>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DashboardAdminService">
        <wsdl:port name="DashboardAdminServiceHttpsSoap11Endpoint" binding="ns:DashboardAdminServiceSoap11Binding">
            <soap:address location="https://10.100.4.135:9443/services/DashboardAdminService.DashboardAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="DashboardAdminServiceHttpsSoap12Endpoint" binding="ns:DashboardAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.4.135:9443/services/DashboardAdminService.DashboardAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="DashboardAdminServiceHttpsEndpoint" binding="ns:DashboardAdminServiceHttpBinding">
            <http:address location="https://10.100.4.135:9443/services/DashboardAdminService.DashboardAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>